<div class="container footer-container">
  <p>
    <!-- {{ site.name | escape }} - -->
    <!-- <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a> -->
    {%- if site.footer_show_references -%}
      Juan Enrique Rubio - Last update: August, 2023
    {%- endif -%}
    <br>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/jercobyte/jercobyte.github.io" aria-label="Star jercobyte/jercobyte.github.io on GitHub">Star</a>
  </p>
</div>
